<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>問題画面 - Quiz</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="src/css/quiz.css" rel="stylesheet">
</head>
<body class="pc">

<header class="header">
    <h1>Quiz</h1>
</header>

<main v-cloak>
    <section class="quiz quiz-top" v-if="scrn.s1">
        <div class="introduction">
            <h2 class="quiz-title">リアルタイム早押しクイズゲーム</h2>
            <div class="quiz__nav">
                <button class="quiz__btn btn btn-success" v-on="click: openQ()">始める！</button>
            </div>
        </div>
    </section>

    <section class="contents-body quiz" v-if="scrn.s2">
        <h2 v-show="num" class="quiz__num">Q.{{num}}</h2>
        <p class="quiz__title">{{quiz}}</p>
        <div class="quiz__nav">
            <button class="quiz__btn btn btn-success" v-on="click: startQ()">クイズスタート！</button>
        </div>
    </section>

    <section class="contents-body quiz" v-if="scrn.s3">
        <h2 v-show="num" class="quiz__num">Q.{{num}}</h2>
        <p class="quiz__title">{{quiz}}</p>
        <div class="quiz__answer__wrap">
            <ol class="quiz__answer" v-class="type">
               <li v-repeat="ex" v-class="correct"><img src="{{$value}}"></li>
            </ol>
            <span class="correctNum-{{$index + 1}}" v-repeat="correctNum" v-show="correctAgg">{{$value}}</span>
        </div>
        <div class="quiz__time" v-if="timeArea">
            <meter value="{{nowTime * (100 / setTime)}}" low="30" high="60" optimum="100" max="100"></meter>
            <time>{{nowTime}}<span>秒</span></time>
        </div>
        <div class="quiz__nav">
            <button class="quiz__btn btn btn-success" v-on="click: aggregateQ()" v-if="aggregateBtn">解答数集計</button>
            <button class="quiz__btn btn btn-success" v-on="click: answerQ()" v-if="answerBtn">正解表示</button>
            <button class="quiz__btn btn btn-success" v-on="click: rankingQ()" v-if="rankingBtn">ランキングへ</button>
        </div>
    </section>

    <section class="contents-body quiz" v-if="scrn.s4">
        <h2 class="quiz__title">ランキング</h2>
        <ol class="quiz__ranking">
            <li class="anime" v-repeat="rankData" v-transition="anime" stagger="500">
                <span class="quiz__user">{{user}}</span>
                <time class="quiz__time">{{time}}</time>
            </li>
        </ol>
        <div class="quiz__nav">
            <button class="quiz__btn btn btn-success" v-on="click: changeQ()" v-if="changeBtn">次の問題へ</button>
            <button class="quiz__btn btn btn-success" v-on="click: totalRanking()" v-if="totalRankingBtn">総合ランキングへ</button>
        </div>
    </section>

    <section class="contents-body quiz" v-if="scrn.s5">
        <h2 class="quiz__title">総合ランキング</h2>
        <ol class="quiz__ranking">
            <li v-repeat="rankTotal" v-transition="anime" stagger="1000">
                <span class="quiz__user">{{user}}</span>
                <span class="quiz__point">{{point}}</span>
                <time class="quiz__time">{{time}}</time>
            </li>
        </ol>
    </section>
</main>

<footer class="footer">
    <p>©MeHerBu</p>
</footer>

<audio src="src/audio/mondai_girl.webm" id="audio_bgm" autoplay loop preload="auto"></audio>
<audio src="src/audio/thinking.webm" id="audio_thinking" loop preload="auto"></audio>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.12.9/vue.min.js"></script>
<script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
<script src="src/js/common.js"></script>
<script>
// --------------------------------------------------------
// Setting
// --------------------------------------------------------
var intervalTime = 1000;
var countTime = 12;
var sec = countTime;
var nowScrn = 's1'; // 初回スクリーン名
var timer;

// オーディオ
var El_audioBgm = document.getElementById('audio_bgm');
var El_audioThinking = document.getElementById('audio_thinking');
// 音量
El_audioBgm.volume = 1;
El_audioThinking.volume = 0.2;


// --------------------------------------------------------
// View
// --------------------------------------------------------
var vue = new Vue({
    el: 'main',
    data: {
        num: '',
        quiz: '',
        ex: '',
        setTime: countTime,
        nowTime: sec,
        timeArea: true,
        changeBtn: true,
        aggregateBtn: false,
        answerBtn: false,
        rankingBtn: false,
        correctAgg: false,
        totalRankingBtn: false,
        type: '',
        correct: '',
        correctNum: {
            c1 : 0,
            c2 : 0,
            c3 : 0,
            c4 : 0
        },
        rankData: '',
        rankTotal: '',
        scrn : {
            s1 : true,
            s2 : false,
            s3 : false,
            s4 : false,
            s5 : false
        }
    },

    methods:{
        // JSONを取得
        getJson: function(){
            var _this = this;

            $.getJSON(jsonPath).done(function(data){
                qaJson = data;
                getObjLength(qaJson);
            });
        },

        // 次の画面に切り替え
        toScrn: function(nextScrn){
            this.$set('scrn.' + nowScrn, false);
            this.$set('scrn.' + nextScrn, true);
            nowScrn = nextScrn;
        },

        // 問題表示画面へ
        openQ: function(){
            vue.changeQ(qaJson);
            vue.toScrn('s2');
        },

        // 問題スタート
        startQ: function(){
            var _this = this;
            var n = _this.$get('num');
            _this.$set('type', qaJson['q' + n].type);

            vue.sendDS('start');
            vue.countStart();
            vue.toScrn('s3');
        },

        endQ: function(){
            this.$set('aggregateBtn', true);
            this.$set('timeArea', false);
            vue.sendDS('disabled');

            // BGM再スタート
            El_audioBgm.play();
            El_audioThinking.pause();
            El_audioThinking.currentTime = 0;
        },

        // 解答集計
        aggregateQ: function(){
            var n = this.$get('num');
            var correctArray = [];
            var correctObj = {};

            // 回答数を集計
            DS_anser.stream().next(function(err, data) {
                for(var i = 0; i < data.length; i++){
                    if(n == data[i].value.qNum) {
                        correctArray.push(data[i].value.aNum);
                    }
                }

                // 超複数をカウント
                correctObj = correctArray.reduce(function(a, b) {
                    a['c' + b] = a['c' + b] ? a['c' + b] + 1 : 1;
                    return a;
                }, {});

                for(var i = 1; i <= 4; i++){
                    var c = correctObj['c' + i];
                    if(c) {
                        vue.correctNum['c' + i] = c;
                    } else {
                        vue.correctNum['c' + i] = 0;
                    }
                }
             });

            this.$set('correctAgg', true);
            this.$set('aggregateBtn', false);
            this.$set('answerBtn', true);
        },

        // 正解表示
        answerQ: function(){
            var n = this.$get('num');
            var nC = qaJson['q' + n].correct.charAt(1); //正解No

            // 正解Noのクラスを付与
            for(var i = 1; i <= 4; i++){
                if(i == nC) {
                    this.$set('correct', 'anime-correct' + i);
                }
            }

            this.$set('answerBtn', false);
            this.$set('rankingBtn', true);
        },

        // ランキング画面へ
        rankingQ: function(){
            var _this = this;
            var n = _this.$get('num');
            var rankArray = [];

            vue.toScrn('s4');

            // 回答データを取得
            DS_anser.stream().next(function(err, data) {
                // データを取得し、回答が合っている人だけ抽出
                for(var i = 0; i < data.length; i++){
                    if((n == data[i].value.qNum) && (data[i].value.aNum == qaJson['q' + n].correct.charAt(1))){
                        var rankObj = {};
                        rankObj.user = data[i].value.user;
                        rankObj.time = Math.floor(data[i].value.time * 100) / 100; // 小数点第2位で四捨五入
                        rankArray.push(rankObj)
                    }
                }
                var ranking = _.sortBy(rankArray, 'time'); // 回答時間が早い順にソート
                _this.$set('rankData', ranking); // バインディング
            });

            for(var i = 1; i <= 4; i++){
                vue.correctNum['c' + i] = 0;
            }

            this.$set('correctAgg', false);
            this.$set('correct', '');
            this.$set('rankingBtn', false);
        },

        // 次の問題へ
        changeQ: function(){
            ++actNum;

            // 画面切り替え
            vue.toScrn('s2');

            // 次の問題をデータバインド
            if(actNum <= maxNum) {
                this.$set('num', actNum);
                this.$set('quiz', qaJson['q' + actNum].question);
                this.$set('ex', _.values(qaJson['q' + actNum].answer));
            }
            if(actNum == maxNum) {
                // 最後の問題になったら、総合ランキングボタンを表示
                this.$set('changeBtn', false);
                this.$set('totalRankingBtn', true);
            }

            this.$set('timeArea', true);
            this.$set('rankData', '');
            // 回答画面にデータを送信
            vue.sendDS('act', actNum, this.$get('ex'));
        },

        // 総合ランキング画面へ
        totalRanking: function(){
            vue.toScrn('s5');

            var _this = this;
            var totalAry = [];
            var totalGroupAry = [];

            // 回答データを取得
            DS_anser.stream().next(function(err, data) {
                // 全データ抽出
                for(var i = 0; i < data.length; i++){
                    // 問題数分処理
                    for(var x = 1; x <= maxNum; x++){
                        // 現在の問題数を回答データをまず見て、その中で正解の場合は以下処理をする
                        if((x == data[i].value.qNum) && (data[i].value.aNum == qaJson['q' + x].correct.charAt(1))){
                            // 回答ユーザーと時間を配列に格納していく
                            var rankObj = {};
                            rankObj.user = data[i].value.user;
                            rankObj.time = Math.floor(data[i].value.time * 100) / 100; // 小数点第2位で四捨五入
                            totalAry.push(rankObj)
                        }
                    }
                }

                var rankingGroup = _.groupBy(totalAry, function(obj){ return obj.user; }); // 重複ユーザーをグルーピング

                // グルーピングしたデータ処理
                $.each(rankingGroup, function(key, val) {
                    var rankObjGrp = {};
                        rankObjGrp.user = key;
                        rankObjGrp.point = val.length; // 正解数
                    var reduceAry = []; // 合算用に配列作成

                    $.each(val, function(key2, val2){ // 複数正解したユーザーの時間をまとめる
                        reduceAry.push(val2.time);
                    });

                    rankObjGrp.time = Math.floor(_.reduce(reduceAry, function(x, y){ return x + y; }, 0) * 100) / 100; // 時間を合算し四捨五入
                    totalGroupAry.push(rankObjGrp);
                });

                var timeSort = _.sortBy(totalGroupAry, function(itme){ return itme.time; }); // 回答時間が早い順にソート
                var rankingFix = _.sortBy(timeSort, function(obj){ return -obj.point; }); // 正解数が多い順にソート

                _this.$set('rankTotal', rankingFix);
            });
        },

        // スマホに送信
        sendDS: function(type, actNum, ex){
            if(type == 'start') { //問題スタート送信
                DS_quiz.send({type : 'start'});
            } else if(type == 'disabled') { //問題スタート送信
                DS_quiz.send({type : 'disabled'});
            } else if(type == 'act') { //問題アクティブ送信
                DS_quiz.send({
                    type : 'act',
                    DSactNum : actNum, // 問題数
                    DSmaxNum : _.values(ex).length // 回答数
                });
                DS_quiz.set(msgID, {DSactNum : actNum}); //現在の問題数をDBに登録
            }
        },

        // カウント開始
        countStart: function(){
            clearInterval(timer);
            sec = countTime;
            vue.$set('nowTime', sec);
            timer = setInterval(vue.countDowon, intervalTime);

            El_audioBgm.pause();
            El_audioThinking.play();
        },

        // カウントダウン
        countDowon: function(){
            sec--;
            vue.$set('nowTime', sec);

            // 0秒になったらランキング画面に切り替え
            if(sec == 0) {
                clearInterval(timer);
                sec = countTime;
                vue.$set('nowTime', sec);
                vue.endQ();
            }
        }
    }
});

// --------------------------------------------------------
// Load
// --------------------------------------------------------
// 初回描画
vue.getJson();


</script>

</body>
</html>
