<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>問題画面 - Quiz</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="src/css/quiz.css" rel="stylesheet">
<style>
[v-cloak] { display:none }
meter {
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 960px; height: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

section { box-sizing: border-box; width: 960px; margin: 0 auto; }
.quiz__answer { font-size: 30px; line-height: 2em; }
.quiz__ranking { font-size: 18px; padding: 0; margin-bottom: 0; list-style: none; counter-reset: rank; }
.quiz__ranking li { background: #fff; border: 1px solid #eee; padding: 20px; display: -webkit-flexbox; display:flex; }
.quiz__ranking li:before {counter-increment: rank; content: counter(rank); color: #aaa; font-size: 42px; margin-right: 1em;}
.quiz__ranking li span,
.quiz__ranking li time { display: block; line-height: 32px;}
.quiz__ranking .quiz__user{ color: #4f9fcf; flex-basis: 200px;}
.quiz__ranking .quiz__user:first-letter{ font-size: 32px;  border-radius: 50%; }
.quiz__ranking .quiz__point{ background: #d44950; width: 40px; height: 40px; line-height: 40px; border-radius: 50%; color: #fff; text-align: center;}
.quiz__ranking .quiz__time { margin-left: 2em; color: #999; flex-basis: 200px;  text-align: right; font-size: 22px;}
.quiz__ranking .quiz__time:after { content: '秒'; font-size: 12px; margin-left: 0.2em; }
</style>
</head>
<body>

<header class="header">
    <h1>Quiz</h1>
</header>

<main v-cloak>
    <section class="quiz" v-if="scrn.s1">
        <h2>リアルタイム早押しクイズゲーム</h2>
        <h3>ルール</h3>
        <p>サインインしたら、クイズが始まるまで、しばらくお待ちください。（リロード禁止）</p>
        <p>クイズが開始されたら、お持ちのスマホ端末から正解だと思うボタンを押し、ファイナルアンサーボタンを押してね。</p>
        <p>＜クイズおばさんをこの辺に入れたい＞</p>
        <button class="quiz__btn btn btn-default" v-on="click: openQ()">始める！</button>
    </section>

    <section class="quiz" v-if="scrn.s2">
        <h2 v-show="num" class="quiz__num">Q.{{num}}</h2>
        <p class="quiz__title">{{quiz}}</p>
        <button class="quiz__btn btn btn-default" v-on="click: startQ()">クイズスタート！</button>
    </section>

    <section class="quiz" v-if="scrn.s3">
        <h2 v-show="num" class="quiz__num">Q.{{num}}</h2>
        <p class="quiz__title">{{quiz}}</p>
        <ol class="quiz__answer">
           <li v-repeat="ex">{{$value}}</li>
        </ol>
        <div>
            <meter value="{{nowTime * (100 / setTime)}}" low="30" high="60" optimum="100" max="100"></meter> <br>
            <time>{{nowTime}}秒</time>
        </div>
    </section>

    <section class="quiz" v-if="scrn.s4">
        <h2 class="quiz__title">ランキング</h2>
        <ol class="quiz__ranking">
            <li v-repeat="rankData">
                <span class="quiz__user">{{user}}</span>
                <time class="quiz__time">{{time}}</time>
            </li>
        </ol>
        <button class="quiz__btn btn btn-default" v-on="click: changeQ()" v-if="changeBtn">次の問題へ</button>
        <button class="quiz__btn btn btn-default" v-on="click: totalRanking()" v-if="totalRankingBtn">総合ランキングへ</button>
    </section>

    <section class="quiz" v-if="scrn.s5">
        <h2 class="quiz__title">総合ランキング</h2>
        <ol class="quiz__ranking">
            <li v-repeat="rankTotal">
                <span class="quiz__user">{{user}}</span>
                <span class="quiz__point">{{point}}</span>
                <time class="quiz__time">{{time}}</time>
            </li>
        </ol>
    </section>
</main>

<footer class="footer">
    <p>©MeHerBu</p>
</footer>

<audio src="src/audio/mondai_girl.webm" id="audio_bgm" autoplay loop preload="auto"></audio>
<audio src="src/audio/thinking.webm" id="audio_thinking" loop preload="auto"></audio>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js"></script>
<script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
<script src="src/js/common.js"></script>
<script>
// --------------------------------------------------------
// Setting
// --------------------------------------------------------
var intervalTime = 1000;
var countTime = 1;
var sec = countTime;
var nowScrn = 's1'; // 初回スクリーン名
var timer;

// オーディオ
var El_audioBgm = document.getElementById('audio_bgm');
var El_audioThinking = document.getElementById('audio_thinking');
// 音量
El_audioBgm.volume = 1;
El_audioThinking.volume = 0.2;


// --------------------------------------------------------
// View
// --------------------------------------------------------
var vue = new Vue({
    el: 'main',
    data: {
        num: '',
        quiz: '',
        ex: '',
        setTime: countTime,
        nowTime: sec,
        changeBtn: true,
        totalRankingBtn: false,
        rankData: '',
        rankTotal: '',
        scrn : {
            s1 : true,
            s2 : false,
            s3 : false,
            s4 : false,
            s5 : false
        }
    },

    methods:{
        // JSONを取得
        getJson: function(){
            var _this = this;

            $.getJSON(jsonPath).done(function(data){
                qaJson = data;
                getObjLength(qaJson);
            });
        },

        // 次の画面に切り替え
        toScrn: function(nextScrn){
            this.$set('scrn.' + nowScrn, false);
            this.$set('scrn.' + nextScrn, true);
            nowScrn = nextScrn;
        },

        // 問題表示画面へ
        openQ: function(){
            vue.changeQ(qaJson);
            vue.toScrn('s2');
        },

        // 問題スタート
        startQ: function(){
            vue.sendDS('start');
            vue.countStart();
            vue.toScrn('s3');
        },

        // ランキング画面へ
        rankingQ: function(){
            var _this = this;
            var n = _this.$get('num');
            var rankArray = [];

            vue.toScrn('s4');
            vue.sendDS('disabled');

            // 回答データを取得
            DS_anser.stream().next(function(err, data) {
                // データを取得し、回答が合っている人だけ抽出
                for(var i = 0; i < data.length; i++){
                    if((n == data[i].value.qNum) && (data[i].value.aNum == qaJson['q' + n].correct.charAt(1))){
                        var rankObj = {};
                        rankObj.user = data[i].value.user;
                        rankObj.time = Math.floor(data[i].value.time * 100) / 100; // 小数点第2位で四捨五入
                        rankArray.push(rankObj)
                    }
                }
                var ranking = _.sortBy(rankArray, 'time'); // 回答時間が早い順にソート
                _this.$set('rankData', ranking); // バインディング
            });

            // BGM再スタート
            El_audioBgm.play();
            El_audioThinking.pause();
            El_audioThinking.currentTime = 0;
        },

        // 次の問題へ
        changeQ: function(){
            ++actNum;

            // 画面切り替え
            vue.toScrn('s2');

            // 次の問題をデータバインド
            if(actNum <= maxNum) {
                this.$set('num', actNum);
                this.$set('quiz', qaJson['q' + actNum].question);
                this.$set('ex', _.values(qaJson['q' + actNum].answer));
            }
            if(actNum == maxNum) {
                // 最後の問題になったら、総合ランキングボタンを表示
                this.$set('changeBtn', false);
                this.$set('totalRankingBtn', true);
            }

            // 回答画面にデータを送信
            vue.sendDS('act', actNum, this.$get('ex'));
        },

        // 総合ランキング画面へ
        totalRanking: function(){
            vue.toScrn('s5');

            var _this = this;
            var totalAry = [];
            var totalGroupAry = [];

            // 回答データを取得
            DS_anser.stream().next(function(err, data) {
                // 全データ抽出
                for(var i = 0; i < data.length; i++){
                    // 問題数分処理
                    for(var x = 1; x <= maxNum; x++){
                        // 現在の問題数を回答データをまず見て、その中で正解の場合は以下処理をする
                        if((x == data[i].value.qNum) && (data[i].value.aNum == qaJson['q' + x].correct.charAt(1))){
                            // 回答ユーザーと時間を配列に格納していく
                            var rankObj = {};
                            rankObj.user = data[i].value.user;
                            rankObj.time = Math.floor(data[i].value.time * 100) / 100; // 小数点第2位で四捨五入
                            totalAry.push(rankObj)
                        }
                    }

                }

                var totalRanking = _.sortBy(totalAry, 'time'); // 回答時間が早い順にソート
                var rankingGroup = _.groupBy(totalRanking, function(obj){ return obj.user; }); // 重複ユーザーをグルーピング

                // グルーピングしたデータ処理
                $.each(rankingGroup, function(key, val) {
                    var rankObjGrp = {};
                        rankObjGrp.user = key;
                        rankObjGrp.point = val.length; // 正解数
                    var reduceAry = []; // 合算用に配列作成

                    $.each(val, function(key2, val2){ // 複数正解したユーザーの時間をまとめる
                        reduceAry.push(val2.time);
                    });

                    rankObjGrp.time = Math.floor(_.reduce(reduceAry, function(x, y){ return x + y; }, 0) * 100) / 100; // 時間を合算し四捨五入
                    totalGroupAry.push(rankObjGrp);
                });

                var rankingFix = _.sortBy(totalGroupAry, function(obj){ return -obj.point; }); // 正解数が多い順にソート

                _this.$set('rankTotal', rankingFix);
            });
        },

        // スマホに送信
        sendDS: function(type, actNum, ex){
            if(type == 'start') { //問題スタート送信
                DS_quiz.send({type : 'start'});
            } else if(type == 'disabled') { //問題スタート送信
                DS_quiz.send({type : 'disabled'});
            } else if(type == 'act') { //問題アクティブ送信
                DS_quiz.send({
                    type : 'act',
                    DSactNum : actNum, // 問題数
                    DSmaxNum : _.values(ex).length // 回答数
                });
                DS_quiz.set(msgID, {DSactNum : actNum}); //現在の問題数をDBに登録
            }
        },

        // カウント開始
        countStart: function(){
            clearInterval(timer);
            sec = countTime;
            vue.$set('nowTime', sec);
            timer = setInterval(vue.countDowon, intervalTime);

            El_audioBgm.pause();
            El_audioThinking.play();
        },

        // カウントダウン
        countDowon: function(){
            sec--;
            vue.$set('nowTime', sec);

            // 0秒になったらランキング画面に切り替え
            if(sec == 0) {
                clearInterval(timer);
                vue.rankingQ();
                sec = countTime;
                vue.$set('nowTime', sec);
            }
        }
    }
});

// --------------------------------------------------------
// Load
// --------------------------------------------------------
// 初回描画
vue.getJson();


</script>

</body>
</html>
