<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>問題画面 - Quiz</title>
<style>
[v-cloak] { display:none }
</style>
</head>
<body>

<header>
    <h1>Quiz</h1>
</header>

<main v-cloak>

    <section class="quiz" v-if="scrn.a">
        <h2 v-show="num" class="quiz__num">Q.{{num}}</h2>
        <p class="quiz__title">{{quiz}}</p>
        <button class="quiz__btn" v-on="click: startQ()">クイズスタート！</button>
    </section>

    <section class="quiz" v-if="scrn.b">
        <h2 v-show="num" class="quiz__num">Q.{{num}}</h2>
        <p class="quiz__title">{{quiz}}</p>
        <ol class="quiz__answer">
           <li v-repeat="ex">{{$value}}</li>
        </ol>
        <div>
            <meter value="{{nowTime * (100 / setTime)}}" low="30" high="60" optimum="100" max="100"></meter> <br>
            <time>{{nowTime}}秒</time>
        </div>
        <button class="quiz__btn" v-on="click: rankingQ()">ランキング</button>
    </section>

    <section class="quiz" v-if="scrn.c">
        <h2 class="quiz__title">ランキング</h2>
        <ol class="quiz__ranking">
            <li>k-morita</li>
            <li>sao-murakami</li>
            <li>y-nishino</li>
            <li>k-konno</li>
        </ol>
        <button class="quiz__btn" v-on="click: changeQ()" v-attr="disabled: disabled">次の問題へ</button>
    </section>

</main>

<footer>©MeHerBu</footer>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js"></script>
<script src='https://cdn.mlkcca.com/v2.0.0/milkcocoa.js'></script>
<script src="src/js/app.js"></script>
<script>
// --------------------------------------------------------
// Setting
// --------------------------------------------------------
var intervalTime = 1000; // 1秒
var countTime = 10;
var sec = countTime;
var timer;


// --------------------------------------------------------
// View
// --------------------------------------------------------
var vue = new Vue({
    el: 'main',
    data: {
        num: '',
        quiz: '',
        ex: '',
        setTime: countTime,
        nowTime: sec,
        disabled: '',
        scrn : {
            a : true,
            b : false,
            c : false
        }
    },

    methods:{
        // JSONを取得
        getJson: function(){
            $.getJSON(jsonPath).done(function(data){
                qaJson = data;
                getObjLength(qaJson);
                vue.changeQ(qaJson);
            });
        },

        // 問題スタート画面へ
        startQ: function(){
            vue.countStart();
            this.$set('scrn.a', false);
            this.$set('scrn.b', true);
        },

        // ランキング画面へ
        rankingQ: function(){
            this.$set('scrn.b', false);
            this.$set('scrn.c', true);
        },

        // 次の問題へ
        changeQ: function(){
            ++actNum;

            // 次の問題をデータバインド
            if(actNum <= maxNum) {
                this.$set('num', actNum);
                this.$set('quiz', qaJson['q' + actNum].question);
                this.$set('ex', _.values(qaJson['q' + actNum].answer));
            }
            if(actNum == maxNum) {
                // 最後の問題になったら、NextボタンをOFFにする
                this.$set('disabled', 'disabled');
            }

            // 回答画面にデータを送信
            vue.sendDS(actNum, this.$get('ex'));

            this.$set('scrn.a', true);
            this.$set('scrn.c', false);
        },

        // データストア
        sendDS: function(actNum, ex){
            DS.send({
                DSactNum : actNum, // 問題数
                DSmaxNum : _.values(ex).length // 回答数
            });
        },

        countStart: function(){
            timer = setInterval(vue.countDowon, intervalTime);
        },

        countDowon: function(){
            sec--;
            vue.$set('nowTime', sec);

            if(sec == 0) {
                clearInterval(timer);
                vue.rankingQ();
                sec = countTime;
                vue.$set('nowTime', sec);
            }
        }
    }
});


// --------------------------------------------------------
// Load
// --------------------------------------------------------
// 初回描画
vue.getJson();

</script>

</body>
</html>