<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0">
<title>解答画面 - Quiz</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="src/css/quiz.css" rel="stylesheet">
<style>
[v-cloak] { display:none }
.answer__btn-group li {
    display: inline-block;
}
.answer__btn-group input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    visibility: none;
    display: none;
}

.answer__btn-group input[type="radio"] + label {
    box-sizing: border-box;
    padding: 20px 36px;
    margin: 0 4px;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.answer__btn-group input[type="radio"]:checked + label {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

</style>
</head>
<body>

<header class="header">
    <h1>Quiz</h1>
</header>

<main v-cloak>
    <section class="form-wrapper" v-if="signOut">
        <h1>Sign In</h1>
        <div class="form-item">
            <label for="email"></label>
            <input type="text" name="email" required="required" placeholder="e-mail" id="email" v-model="user">
            <span>@mediba.jp</span>
        </div>
        <div class="button-panel">
            <button class="button" v-on="click: signInAct();">Sign In</button>
        </div>
        <div class="form-footer"></div>
    </section>

    <section class="answer__wappper" v-if="signIn">
        <h2>Q.{{num}}</h2>
        <p>こんにちは.{{user}}さん</p>
        <nav>
            <ul class="answer__btn-group">
                <li v-repeat="exA">
                    <input type="radio" id="answer__btn-{{$value + 1}}" name="exA" value="{{$value + 1}}" v-on="click: selectBtn($value + 1);">
                    <label for="answer__btn-{{$value + 1}}">{{$value + 1}}</label>
                </li>
            </ul>
        </nav>
        <button class="quiz__btn btn btn-default" v-on="click: finalBtn({{$value + 1}})" v-attr="disabled: disabled">Final Answer</button>
    </section>
</main>

<footer class="footer">
    <p>©MeHerBu</p>
</footer>

<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="https://cdn.mlkcca.com/v2.0.0/milkcocoa.js"></script>
<script src="src/js/app.js"></script>

<script>
// --------------------------------------------------------
// Setting
// --------------------------------------------------------
var startMo, endMo, time;


// --------------------------------------------------------
// View
// --------------------------------------------------------
var vue = new Vue({
    el: 'main',
    data: {
        num: '',
        actNum: '',
        exA: [],
        disabled: 'disabled',
        user: '',
        signOut: true,
        signIn: false
    },

    methods:{
        // JSONを取得
        getJson: function(){
            $.getJSON(jsonPath).done(function(data){
                qaJson = data;
                getObjLength(qaJson);
                vue.getActQuiz(qaJson);
            });
        },

        // サインイン処理
        signInAct: function(){
            var u = this.$get('user');

            if(u){
                localStorage.setItem('user', u);
                vue.quizIn();
            } else {
                alert('アカウント名を入力してください');
            }
        },

        quizIn: function(u){
            this.$set('user', u);
            this.$set('signOut', false);
            this.$set('signIn', true);
        },

        // アクティブなクイズを取得
        getActQuiz: function(qaJson){
            var _this = this;

            DS_quiz.get(msgID, function(err, data){
                _this.$set('num', data.value.DSactNum);
                _this.$set('exA', _.range(getObjLength(qaJson.q1.answer)));
            });
        },

        // 問題を切り替える処理
        changeQ: function(n, max){
            this.$set('num', n);
            this.$set('exA', _.range(max));
        },

        // 問題選択
        selectBtn: function(val){
            this.$set('actNum', val);
        },

        // ファイナルアンサー
        finalBtn: function(val){
            endMo = moment();
            time = endMo.diff(startMo, 'milliseconds') / 1000;

            DS_anser.push({
                user : this.$get('user'), // ユーザー名
                qNum : this.$get('num'), // 現在の問題数
                aNum : this.$get('actNum'), // 回答ナンバー
                time : time // 回答時間
            });
            this.$set('disabled', 'disabled');
        },

        // ボタンアクティブ
        finalBtnAct: function(){
            this.$set('disabled', '');
        },

        // ボタン非アクティブ
        finalBtnDis: function(){
            this.$set('disabled', 'disabled');
        }
    }
});


// --------------------------------------------------------
// イベント通知
// --------------------------------------------------------
DS_quiz.on('send', function(data){
    var type = data.value.type;

    switch(type){
        case 'act':
            vue.changeQ(data.value.DSactNum, data.value.DSmaxNum);
            break;

        case 'start':
            vue.finalBtnAct();
            startMo = moment();
            break;

        case 'disabled':
            vue.finalBtnDis();
            break;
    }
});


// --------------------------------------------------------
// Load
// --------------------------------------------------------
// 初回描画
vue.getJson();

// ログイン後は問題画面に切り替わる
if(localStorage.getItem('user')){
    vue.quizIn(localStorage.getItem('user'));
}


</script>

</body>
</html>
