/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
/* fontawesome */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before { font-family: 'FontAwesome', sans-serif; }

/* Simple Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* body */
body { background: #e9e9e9; color: #5e5e5e; font: 400 87.5%/1.5em 'Open Sans', sans-serif; line-height: 1; }

ol { margin-left: 30px; }

ul { list-style: none; }

/* Form Layout */
.signin { background: #fafafa; margin: 3em auto; padding: 0 1em; max-width: 370px; }
.signin h1 { padding: 1em; }

h1 { text-align: center; }

form { padding: 0 1.5em; }

.form-item { margin-bottom: 0.75em; width: 80%; display: inline; font-size: 14px; }
.form-item input { background: #fafafa; border: none; border-bottom: 2px solid #e9e9e9; color: #666; font-family: 'Open Sans', sans-serif; height: 50px; transition: border-color 0.3s; width: 70%; padding: 5px; }
.form-item input:focus { border-bottom: 2px solid #c0c0c0; outline: none; }

.button-panel { margin: 2em 0 0; width: 100%; }

.button { background-color: #337ab7; border-color: #2e6da4; border: none; color: #fff; cursor: pointer; height: 50px; font-family: 'Open Sans', sans-serif; font-size: 16px; letter-spacing: 0.05em; text-align: center; text-transform: uppercase; transition: background 0.3s ease-in-out; width: 100%; border-radius: 6px; width: 300px; display: block; margin: 0 auto; }

.button:hover { background: #ee3e52; }

.form-footer { font-size: 1em; padding: 2em 0; text-align: center; }

.form-footer a { color: #8c8c8c; text-decoration: none; transition: border-color 0.3s; }

.form-footer a:hover { border-bottom: 1px dotted #8c8c8c; }

.header { background: #fc7b95; color: #fff; }
.header h1 { padding: 10px; margin-top: 0px; font-size: 36px; }

.footer { width: 100%; text-align: center; position: relative; bottom: 0px; display: block; }

.contents-body { width: 980px; margin: 20px auto 30px auto; display: block; background-color: #fff; box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16); border-radius: 5px; padding: 20px; }

.quiz-title, .quiz__title { font-size: 24px; line-height: 1; margin: 0 0 10px 0; }

.quiz-title-text { font-size: 20px; }

.contents-body:before { content: ""; height: 100px; width: 100px; background: url(../../src/img/quizobasan.png) 0 0 no-repeat; background-size: 100px auto; display: inline-block; position: absolute; position: fixed; right: 35px; bottom: 35px; }

.answer-body { margin-top: 50px; }

.answer-text { font-size: 1.2em; }
.answer-text li { line-height: 1; padding: 10px 0; }

.answer-select input[type="radio"] { margin: 0 10px; }

.answer-select-box { display: inline-block; margin: 0 auto; text-align: center; }
.answer-select-box .answer-select-btn { width: 125px; height: 125px; margin-bottom: 10px; display: inline-block; background: #eee; }
.answer-select-box .answer-select-pcbtn { width: 300px; height: 300px; margin-bottom: 30px; display: inline-block; background: #eee; }
.answer-select-box .answer-select-btn:nth-child(odd) { margin-right: 10px; }
.answer-select-box .answer-select-pcbtn:nth-child(odd) { margin-right: 30px; }

.quiz__ranking { font-size: 1.2em; }
.quiz__ranking li { line-height: 1; padding: 10px 0; }

.btn-blue { border: 2px solid #2e6da4; }

.btn-green { border: 2px solid #2EA497; }

.quize--list .quize__btn--sq { width: 860px; min-height: 100px; }
.quize--list .btn { margin: 20px; }
.quize--list .quize__select-num { position: relative; padding: 35px 40px; margin: 0; font-size: 20px; font-weight: bold; width: 100px; background: #2e6da4; color: #fff; display: table-cell; vertical-align: middle; }
.quize--list .quize__text { display: table-cell; text-align: left; padding: 10px; font-size: 20px; width: 100%; vertical-align: middle; }

.quize__box .quize__btn--sq { width: 400px; height: 200px; }
.quize__box .btn { margin: 20px; }
.quize__box img { max-width: 100%; max-height: 196px; }
.quize__box .quize__select-num { position: absolute; padding: 10px; margin: 0; font-size: 20px; font-weight: bold; width: 48px; background: #2e6da4; color: #fff; height: 48px; -webkit-border-radius: 0 0 2px 0; border-radius: 0 0 2px 0; }
.quize__box .quize__text { text-align: left; padding: 58px 10px 10px 10px; font-size: 20px; width: 100%; }

.quize__text { text-align: left; padding: 10px; font-size: 20px; width: 100%; }

.ranking--list .ranking__btn--sq { width: 860px; min-height: 100px; }
.ranking--list .btn { margin: 20px; }
.ranking--list .ranking__select-num { position: relative; padding: 35px 40px; margin: 0; font-size: 20px; font-weight: bold; width: 100px; background: #2EA497; color: #fff; display: table-cell; vertical-align: middle; }
.ranking--list .ranking__text { display: table-cell; text-align: left; padding: 10px; font-size: 20px; width: 90%; vertical-align: middle; }
.ranking--list .raning_time { display: table-cell; width: 10%; vertical-align: middle; }

.ranking__title { font-size: 30px; padding: 0 0 0 20px; }

/* -- */
