/* --------------------------------------------------------
** Commmon
-------------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
[class*="fontawesome-"]:before { font-family: 'FontAwesome', sans-serif; }
html, body, main {height: 100%}
main {display: block;}
body { background: #e9e9e9; color: #5e5e5e; font: 400 87.5%/1.5em 'Open Sans', sans-serif; line-height: 1; }
.header { background: #f16272; color: #fff; }
.header h1 { padding: 10px; margin-top: 0px; font-size: 36px; text-align: center; margin-bottom: 0px;}
.footer { width: 100%; text-align: center; position: relative; bottom: 0px; display: block; margin: 20px 0; }
[v-cloak] { display:none }


/* --------------------------------------------------------
** PC
-------------------------------------------------------- */
.pc section { box-sizing: border-box; width: 960px; margin: 0 auto; }
.pc h2 {margin-top: 20px;}
.contents-body:before { content: ""; height: 100px; width: 100px; background: url(../../src/img/quizobasan.png) 0 0 no-repeat; background-size: 100px auto; display: inline-block; position: absolute; position: fixed; right: 35px; bottom: 35px; padding-bottom: 40px;}

.quiz-title, .quiz__title { font-size: 24px; line-height: 1; margin: 0 0 10px 0; }
.quiz-title{ text-align: center; font-size: 80px; color: #fff; margin: 80px 0; text-shadow: 0 0 8px  rgba(0,0,0,.8);  }

.pc .quiz-top {
    background: url(../img/bg.png);
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
}
.introduction{
    padding-top: 30px;
    width: 960px;
    margin: 0 auto;
    color: #fff;
}
.quiz-text{ font-size: 14px; padding: 30px; font-weight: normal; }
.quiz__ranking { font-size: 1.2em; }
.quiz__ranking li { line-height: 1; padding: 10px 0; }

.quize--list .quize__btn--sq { width: 860px; min-height: 100px; }
.quize--list .btn { margin: 20px; }
.quize--list .quize__select-num { position: relative; padding: 35px 40px; margin: 0; font-size: 20px; font-weight: bold; width: 100px; background: #2e6da4; color: #fff; display: table-cell; vertical-align: middle; }
.quize--list .quize__text { display: table-cell; text-align: left; padding: 10px; font-size: 20px; width: 100%; vertical-align: middle; }

.quize__box .quize__btn--sq { width: 400px; height: 200px; }
.quize__box .btn { margin: 20px; }
.quize__box img { width: 100%; height: 100%; }
.quize__box .quize__select-num { position: absolute; padding: 10px; margin: 0; font-size: 20px; font-weight: bold; width: 48px; background: #2e6da4; color: #fff; height: 48px; -webkit-border-radius: 0 0 2px 0; border-radius: 0 0 2px 0; }
.quize__box .quize__text { text-align: left; padding: 58px 10px 10px 10px; font-size: 20px; width: 100%; }

.quize__text { text-align: left; padding: 10px; font-size: 20px; width: 100%; }

.ranking--list .ranking__btn--sq { width: 860px; min-height: 100px; }
.ranking--list .btn { margin: 20px; }
.ranking--list .ranking__select-num { position: relative; padding: 35px 40px; margin: 0; font-size: 20px; font-weight: bold; width: 100px; background: #2EA497; color: #fff; display: table-cell; vertical-align: middle; }
.ranking--list .ranking__text { display: table-cell; text-align: left; padding: 10px; font-size: 20px; width: 80%; vertical-align: middle; }
.ranking--list .raning_time { display: table-cell; width: 10%; vertical-align: middle; }
.ranking--list .raning_answer { display: table-cell; width: 10%; vertical-align: middle; }

.ranking__title { font-size: 30px; padding: 0 0 0 20px; }

.quiz__answer { font-size: 30px; line-height: 2em; }
.image img { animation: blur 5s ease-out; }
@keyframes blur {
  0% {
    -webkit-filter: blur(100px)
  }
  100% {
    -webkit-filter: blur(0)
  }
}
.quiz__ranking { font-size: 18px; padding: 0; margin-bottom: 0; list-style: none; counter-reset: rank; }
.quiz__ranking li { background: #fff; border: 1px solid #eee; padding: 20px; display:flex;}
.quiz__ranking li:before {counter-increment: rank; content: counter(rank); color: #aaa; font-size: 42px; margin-right: 1em; }
.quiz__ranking li span,
.quiz__ranking li time { display: block; line-height: 32px; }
.quiz__ranking .quiz__user{ color: #4f9fcf; flex-basis: 200px; }
.quiz__ranking .quiz__user:first-letter{ font-size: 32px;  border-radius: 50%; }
.quiz__ranking .quiz__point{ background: #d44950; width: 40px; height: 40px; line-height: 40px; border-radius: 50%; color: #fff; text-align: center; }
.quiz__ranking .quiz__time { margin-left: 2em; color: #999; flex-basis: 200px;  text-align: right; font-size: 22px; }
.quiz__ranking .quiz__time:after { content: '秒'; font-size: 12px; margin-left: 0.2em; }
.quiz__nav { text-align: center; margin: 40px 0; }
.quiz__time { position: relative; height: 40px; }
.quiz__time meter {
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 940px; height: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.1);
    margin: 40px auto;
}
.quiz__time time { display: inline-block; width: 40px; height: 40px; background: #333; color: #fff; position: absolute; top: 30px; left: 445px; font-size: 18px; border-radius: 50%; text-align: center; line-height: 40px; font-weight: normal; }
.quiz__time time span { font-size: 10px;}
.quiz__answer__wrap { position: relative;}
.quiz__answer { list-style: none; counter-reset: rank; margin: 0 auto; padding: 0; width: 840px; display:flex; flex-wrap: wrap; }
.quiz__answer li { width: 400px; margin: 10px 10px 0 0; padding: 0; border: 4px solid #000; box-sizing: content-box; position: relative; overflow: hidden; }
.quiz__answer li:after {counter-increment: rank; content: counter(rank); color: #fff; font-size: 36px; margin-right: 1em; position: absolute; top:0; left: 0; background: #000; width: 40px; height: 40px; line-height: 40px; text-align: center; }
.correctNum-1, .correctNum-2, .correctNum-3, .correctNum-4 {
    display: inline-block; font-size: 24px; background: #d44950; width: 40px; height: 40px; line-height: 40px; border-radius: 50%; color: #fff; text-align: center; position: absolute;
}
.correctNum-1 { top: 169px; left: 409px;}
.correctNum-2 { top: 169px; left: 827px;}
.correctNum-3 { top: 387px; left: 409px;}
.correctNum-4 { top: 387px; left: 827px;}
.anime-correct1:nth-child(1),
.anime-correct2:nth-child(2),
.anime-correct3:nth-child(3),
.anime-correct4:nth-child(4) { animation: blink 300ms infinite alternate; }
@keyframes blink {
   0%  { border-color: rgba(212, 73, 80, .2); }
   100% { border-color: rgba(212, 73, 80, 1); }
}
.anime-enter {
  animation: bounce-in 1s ease-in;
}
.anime-leave {
  animation: bounce-out 1s ease-out;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  70% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}




/* --------------------------------------------------------
** SP
-------------------------------------------------------- */
.sp { height: auto;}
.sp main {width: 320px; margin: 0 auto; padding: 40px 0;}
.input-group {margin: 40px 0;}
.answer__wappper { text-align: center;}
.answer__wappper h2 { margin: 20px 0; font-size: 24px; font-weight: normal; }
.answer__wappper h2:first-letter { font-size: 16px; }
.answer__name:before { content: 'ID'; display: inline-block; background: #bbb; color: #fff; padding: 4px; border-radius: 50%; margin-right: 0.5em; font-size: 10px; }
.answer__btn-group { margin: 20px 0; padding: 0;}
.answer__btn-group li { display: inline-block; list-style: none; margin: 0 4px; }
.answer__btn-group input[type="radio"] { -webkit-appearance: none; appearance: none; visibility: none; display: none; }
.answer__btn-group input[type="radio"] + label { box-sizing: border-box; padding: 14px 24px; color: #337ab7; background-color: #fff; border: 1px solid #ddd; border-radius: 4px; }
.answer__btn-group input[type="radio"]:checked + label { color: #fff; background-color: #337ab7; border-color: #337ab7; }
.quiz__btn__final { padding: 20px 16px;}
.quiz__btn__final[disabled] { display: none; }
.footer { margin-top: 20px;}
.button-panel { margin: 2em 0 0; width: 100%; text-align: center; }


